/* app/styles/ProjectCard.module.css */

.card {
  position: relative;
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;  /* Ensures the gradient stays within the card boundary */
}

.cardContent {
  position: relative;  /* This ensures content stays above the gradient */
  z-index: 1;
}

.cardContent h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardContent p {
  font-size: 1rem;
  color: #555;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.tech {
  background-color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.875rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.btn {
  background-color: #2d3748;
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

/* Footer */
.footer {
  font-size: 0.9rem;
  color: #888;
  margin-top: 10px;
}
